
<h1>Edit Cat to stuff </h1>

<form action="<%= cat_url(@cat) %>" method="post">
<input type="hidden" name ="_method" value= "PATCH">
<label for="name">Name</label>
<input id="name" type="text" name="cats[name]" value="<%= @cat.name %>">

<label for="color">Color</label>
<select name="cats[color]" id="color">
    <option value="" selected disabled>- pick a color -</option>
    <% Cat::COLORS.each do |color|%>
    <option value="<%=color%>"><%= color %></option>
    <%end%>
</select>

<label for="birth_date">Birth Date</label>
<input id="birth_date" type="date" name="cats[birth_date]" value="<%= @cat.birth_date %>">

<input type="radio" id="male" name="cats[sex]" value="m">
<label for="male">Male</label><br>
<input type="radio" id="female" name="cats[sex]" value="f">
<label for="female">Female</label><br>


<label for="description">Description</label>
<textarea name="cats[description]" id="description" cols="30" rows="10"><%= @cat.description %></textarea>

<input type="submit" value="Update Cat">
</form>